<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NutriflexLife Diet and Fitness Tracker</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
{{!-- used as an example for nav bar --}}
<nav>
  <ul>
    <li><a href="/post-food">Post Food</a></li></li>
    <li><a href="/food">Food Diary</a></li>
    <li><a href="/post-exercise">Post Exercise</a></li></li>
    <li><a href="/exercise">Exercise Diary</a></li>
    <li><a href="/results">Results</a></li>
    <li><a href="/">Home</a>
    <!-- If the user is logged in, show a logout button -->
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    <script src="/NutriFlexLife-Project-2/public/js/logout.js"></script>
    {{/if}}
    </li>
  </ul>
</nav>
</header>

    <main>
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
</body>
</html>