header {
    background-color: #5653EC;
    color: white;
    text-align: center;
    font-size: 36px;
  }

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    text-align: center;
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    cursor: pointer;
}
.chart{
    height: 200px;
    aspect-ratio: 1;
}